<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="email" type="Tower360.Application.Services.Email.EmailConfigurationSettings, Tower360.Application" />
    <section name="cache" type="Tower360.Infrastructure.Cache.CacheConfigurationSettings, Tower360.Infrastructure" />
  </configSections>
  <email apikey="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" from="admin@tower360.com" fromName="Tower 360" />
  <cache useRedis="false" redisConnectionString="127.0.0.1:6379,allowAdmin=true,ssl=false" redisDatabase="6" secretKey="Lm5nxWjB7hrJgMeuaANWTeV6" />
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:tower360.database.windows.net,1433;Initial Catalog=tower360-stage;Persist Security Info=False;User ID=tower360_stage;Password=1nv1s10n_!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=tower360storestage;AccountKey=4uc+1+cgEvZCTcRFv6RRvsGXzKnxdKpJzAfkJUYOx8Q5c48QkEvwfwheZX7AelinSDJ2fSY0QdU3dmB+oD2P4A==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AssetImagesBlobContainerName" value="assetimages" />
    <add key="ContractAttachmentsBlobContainerName" value="contractattachments" />
    <add key="DealAttachmentsBlobContainerName" value="dealattachments" />
    <add key="WebRootUrl" value="https://tower360-stage.azurewebsites.net" />
    <add key="TokenLifespan" value="72" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://localhost:8080" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS, PUT, DELETE" />
        <add name="Access-Control-Allow-Headers" value="authorization, x-requested-with, origin, content-type, accept"/>
        <add name="Access-Control-Allow-Credentials" value="true"/>
      </customHeaders>
    </httpProtocol>-->
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <!-- add this -->
    </modules>
    <rewrite>
      <rules>
        <rule name="LowerCaseRule" stopProcessing="false">
          <match url="(_*)(.*)" ignoreCase="false" />
          <conditions>
            <add matchType="IsFile" negate="true" />
            <add input="{R:2}" pattern="[A-Z]" ignoreCase="false" />
            <add input="{R:2}" pattern="^api/" negate="true" />
            <add input="{R:2}" pattern="^help/" negate="true" />
          </conditions>
          <action type="Rewrite" url="_{ToLower:{R:2}}" />
        </rule>
        <rule name="ApiEmpty" stopProcessing="true">
          <match url="^(_*)(.*)" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^((www\.)*)(.*)" />
            <add input="{R:2}" pattern="^api([/]?)$" ignoreCase="true" />
            <add input="{R:2}" pattern="^api/(.+)$" ignoreCase="true" negate="true" />
          </conditions>
          <action type="Redirect" url="http://{HTTP_HOST}/help/" />
        </rule>
        <rule name="BaseFrontend" stopProcessing="false">
          <match url="(_*)(.*)" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{R:2}" pattern="^api/(.+)$" ignoreCase="true" negate="true" />
            <add input="{R:2}" pattern="^help/(.*)$" ignoreCase="true" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:2}" />
        </rule>
        <rule name="Frontend" stopProcessing="false">
          <match url="(_*)(.*)" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{R:2}" pattern="^api/(.+)$" ignoreCase="true" negate="true" />
            <add input="{R:2}" pattern="^help" ignoreCase="true" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{R:2}" pattern="^index.html(.*)" negate="true" />
            <add input="{R:2}" pattern="\.(css|less|js|png|jpg|jpeg|gif|html|ttf|woff|woff2)$" ignoreCase="true" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 29E762ED-086A-4441-B9E0-28926CC4BEC8-->